// Nav
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
  transition: transform 0.35s ease;

  &.hide {
    transform: translateY(-120%);
  }

  &.show {
    transform: translateY(0);
  }

  .nav-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 22px;

    .nav-links {
      display: flex;
      flex-direction: column;
      gap: 4px;

      a {
        color: #f2eec2;
        text-decoration: none;
        font-size: 1.15rem;
        transition: 0.3s;

        &:hover {
          color: tomato;
        }
      }
    }

    .nav-btn {
      padding: 10px 18px;
      border-radius: 8px;
      border: 1px solid white;
      background: tomato;
      color: white;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #f32a0b;
      }
    }
  }
}

// Home Section
.home-section {
  height: 100dvh;

  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    text-transform: uppercase;
    text-align: center;
    position: relative;

    .open-work {
      display: inline-flex;
      align-items: center;
      gap: 0.65rem;

      background: rgba(255, 255, 255, 0.06);
      backdrop-filter: blur(8px);
      border: 1px solid rgba(255, 255, 255, 0.15);

      height: 30px;
      padding: 1.25rem 1.5rem;
      border-radius: 50px;
      position: absolute;
      top: 9%;
      left: 50%;
      transform: translateX(-50%);

      .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #bbcb2e;
        display: inline-flex;
        position: relative;
      }

      /* Pulse Animation */
      .circle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #bbcb2e;
        animation: pulse 1.5s infinite ease-out;
        z-index: -1;
      }

      @keyframes pulse {
        0% {
          transform: scale(1);
          opacity: 0.7;
        }
        70% {
          transform: scale(2.5);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }

      .text-wrapper {
        height: 1.5em;
        overflow: hidden;
        position: relative;

        .open-work-text {
          display: flex;
          flex-direction: column;
          animation: slideText 4s cubic-bezier(0.76, 0, 0.24, 1) infinite;
        }

        span {
          display: flex;
          align-items: center;
          color: #e6e6e6;
          font-size: 1.25rem;
        }
      }

      @keyframes slideText {
        0%,
        40% {
          transform: translateY(0%);
        }

        50%,
        90% {
          transform: translateY(-22px);
        }

        100% {
          transform: translateY(0%);
        }
      }
    }

    .home-heading {
      font-family: FoundersGrotesk;
      line-height: 140px;
      font-size: 12.5rem;

      position: relative;

      img {
        width: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(15deg);
        filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
        animation: upDown 5s infinite ease-out;
      }

      @keyframes upDown {
        0% {
          transform: translate(-50%, -50%) rotate(15deg) translateY(0);
        }
        50% {
          transform: translate(-50%, -50%) rotate(15deg) translateY(-20px);
        }
        100% {
          transform: translate(-50%, -50%) rotate(15deg) translateY(0);
        }
      }
    }

    .reveal-wrapper {
      margin-top: 2rem;

      .reveal-text {
        font-size: 1.25rem;
        letter-spacing: 1px;
        font-family: FoundersGrotesk;
        line-height: 20px;
      }

      .line {
        position: relative;
        display: inline-block;
        overflow: hidden;
      }

      /* White background */
      .line::before {
        content: '';
        position: absolute;
        inset: 0;
        background: white;
        transform: scaleX(0);
        transform-origin: left;
        animation: bgReveal 0.8s ease forwards;
      }

      .line:nth-child(1)::before {
        animation-delay: 0.2s;
      }

      .line:nth-child(3)::before {
        animation-delay: 1.2s;
      }

      .text {
        position: relative;
        opacity: 0;
        animation: textReveal 0.6s ease forwards;
      }

      .line:nth-child(1) .text {
        animation-delay: 0.8s;
      }

      .line:nth-child(3) .text {
        animation-delay: 1.8s;
      }
    }

    /* Background animation */
    @keyframes bgReveal {
      0% {
        transform: scaleX(1);
      }
      100% {
        transform: scaleX(0);
      }
    }

    /* Text fade animation */
    @keyframes textReveal {
      to {
        opacity: 1;
      }
    }

    .social-links {
      list-style-type: none;

      position: absolute;
      bottom: 10%;
      left: 5%;

      li {
        a {
          text-decoration: none;
          color: var(--light);
          font-size: 1.25rem;
          transition: color 0.3s ease;

          &:hover {
            color: #bbcb2e;
          }
        }
      }
    }

    .scroll-down {
      display: inline-flex;
      align-items: center;
      gap: 0.75rem;

      position: absolute;
      bottom: 4%;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;

      .down-arrow {
        animation: scrollDown 1.5s ease-in-out infinite;
      }

      @keyframes scrollDown {
        0% {
          transform: translateY(0);
          opacity: 1;
        }

        40% {
          transform: translateY(30px);
          opacity: 1;
        }

        50% {
          transform: translateY(30px);
          opacity: 0;
        }

        51% {
          transform: translateY(-30px);
          opacity: 0;
        }

        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      .scroll-text {
        font-size: 1.25rem;
      }
    }

    .top-btn {
      position: fixed;
      right: 1rem;
      bottom: 1rem;
      display: inline-flex;
      align-items: center;
      z-index: 20;
      background: #1a1a1a;

      border: 1px solid;
      padding: 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: translateY(-3px);
        background: #222;
      }
    }
  }
}

// About Section
.pin-spacer {
  padding: 0 !important;
}

.about-section {
  height: 100dvh;
  overflow: hidden;
  position: relative;

  h2 {
    text-transform: uppercase;
    font-size: 5rem;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    line-height: 60px;
  }

  .about-container {
    display: flex;
    height: 91dvh;

    .about-panel {
      min-width: 100vw;
      height: 100%;
    }

    .about-panel:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 8rem;

      .profile-info {
        padding-top: 2rem;

        .profile-heading {
          text-align: center;
          text-transform: uppercase;
          font-size: 6rem;
          line-height: 60px;
          position: relative;
          width: min-content;

          span {
            font-family: 'Amarante', serif;
            font-size: 4rem;
            color: tomato;
            white-space: nowrap;
          }
        }

        .profile-icon {
          .github,
          .code {
            width: 100px;
          }

          .code {
            position: absolute;
            right: 10%;
            top: 4%;
            transform: rotate(-10deg);
            animation: code 1.5s infinite ease-in-out alternate;
          }

          .github {
            position: absolute;
            left: 2%;
            bottom: -35%;
            transform: rotate(10deg);
            animation: gitHub 1.5s infinite ease-in-out alternate;
          }

          @keyframes gitHub {
            0% {
              transform: rotate(10deg) translateY(10px);
            }
            100% {
              transform: rotate(10deg) translateY(0px);
            }
          }

          @keyframes code {
            0% {
              transform: rotate(-10deg) translateY(10px);
            }
            100% {
              transform: rotate(-10deg) translateY(0px);
            }
          }
        }
      }

      .profile-para {
        font-size: 1.35rem;
        max-width: 300px;
        text-align: start;
        margin-bottom: 7rem;
      }
    }

    .about-panel:last-child {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .profile-img {
        width: 100%;
        height: 100%;

        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;

        img {
          width: 450px;
          height: 80%;
          object-fit: contain;
        }

        .circles {
          .circle-one {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            background: tomato;
            filter: blur(20px);

            position: absolute;
            top: 19%;
            left: 0%;
            z-index: -1;
            animation: circleOne 2s ease-in-out infinite alternate;
          }

          .circle-two {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            background: tomato;
            filter: blur(20px);

            position: absolute;
            top: 40%;
            left: 25%;
            z-index: -1;
            animation: circleTwo 2s ease-in-out infinite alternate;
          }

          @keyframes circleOne {
            0% {
              transform: translateY(-8px);
            }
            100% {
              transform: translateY(8px);
            }
          }

          @keyframes circleTwo {
            0% {
              transform: translateX(-8px);
            }
            100% {
              transform: translateX(8px);
            }
          }
        }
      }

      .profile-status {
        .project,
        .award {
          list-style: none;
          padding: 1.5rem 2rem;
          border-radius: 14px;

          display: flex;
          flex-direction: column;
          gap: 0.4rem;

          font-size: 1.1rem;
          text-transform: capitalize;

          backdrop-filter: blur(10px);
          box-shadow:
            inset 4px 4px 10px rgba(0, 0, 0, 0.2),
            inset -4px -4px 10px rgba(255, 255, 255, 0.3);

          animation: award 1.5s infinite ease-in-out alternate;

          li:first-child {
            font-size: 2rem;
            font-weight: 700;
          }

          span {
            font-size: 2.3rem;
            font-weight: 800;
          }
        }

        @keyframes award {
          0% {
            transform: translateY(8px);
          }
          100% {
            transform: translateY(-8px);
          }
        }

        .project {
          position: absolute;
          top: 10%;
          left: 5%;

          background: tomato;
          color: white;
          z-index: 2;
        }

        .award {
          position: absolute;
          top: 38%;
          right: 5%;

          background: #f2eec2;
          color: #1a1a1a;
          z-index: 2;
        }

        .languages {
          list-style: none;
          padding: 1.5rem 2rem;
          border-radius: 14px;
          overflow: hidden;

          position: absolute;
          bottom: 10%;
          left: 5%;

          display: flex;
          align-items: center;

          width: 300px;
          gap: 0.6rem;

          background: #1a1a1a;
          backdrop-filter: blur(10px);

          box-shadow:
            inset 4px 4px 10px rgba(0, 0, 0, 0.2),
            inset -4px -4px 10px rgba(255, 255, 255, 0.3);

          li {
            flex-shrink: 0;

            img {
              width: 52px;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

// Project Section
.project-section {
  .project-container {
    padding-block: 2rem;
    padding-inline: 1.5rem;

    h2 {
      text-transform: uppercase;
      font-size: 5rem;
      margin-bottom: 2rem;
    }

    .project-filter {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin: 30px 0;

      button {
        padding: 8px 16px;
        border-radius: 20px;
        border: 1px solid #e5e5e5;
        background: transparent;

        font-size: 14px;
        font-weight: 500;
        color: #fafafa;
        background: #1a1a1a;
        text-transform: uppercase;

        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          border-color: #000;
        }

        &.active {
          background: tomato;
          color: #fff;
          border-color: #000;
        }
      }
    }

    .projects {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      .project {
        position: relative;
        overflow: hidden;
        cursor: pointer;

        border-bottom: 1px solid #ccc;
        padding-bottom: 1.5rem;

        .project-img {
          overflow: hidden;

          img {
            width: 100%;
            height: 250px;
            object-fit: cover;

            transition: transform 0.6s ease;
          }
        }

        &:hover img {
          transform: scale(1.1);
        }

        .project-info {
          font-size: 1.25rem;
          margin-top: 10px;
          padding-inline: 0.5rem;

          display: flex;
          flex-direction: column;
          gap: 0.6rem;

          .project-data {
            display: flex;
            justify-content: space-between;
            align-items: center;

            list-style: none;
            text-transform: capitalize;

            a {
              text-decoration: none;
              color: #f2eec2;
            }
          }

          .project-language {
            display: flex;
            gap: 0.6rem;
            flex-wrap: wrap;
            list-style: none;

            .language {
              font-size: 0.85rem;
              padding: 0.35rem 0.8rem;
              border-radius: 30px;
              backdrop-filter: blur(10px);
              background: rgba(255, 255, 255, 0.08);
              border: 1px solid rgba(255, 255, 255, 0.2);
              text-transform: capitalize;
              transition: all 0.3s ease;
              cursor: default;
              &:hover {
                transform: translateY(-3px);
              }
            }
          }

          .project-data,
          .project-language {
            opacity: 1;
          }
        }
      }
    }

    .link {
      display: flex;
      align-items: center;
      justify-content: center;

      .all-project {
        margin-block: 2rem;
        text-align: center;
        text-transform: uppercase;
        color: #f2eec2;
        text-decoration: none;
        border: none;
        cursor: pointer;

        padding: 1rem 2.75rem;
        border-radius: 20px;
        background: tomato;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}

// Contact Section
.contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.contact-container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  background: #f2eec2;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* LEFT SIDE */
.contact-left {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-left h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: tomato;
}

.contact-left p {
  color: #666;
  margin-bottom: 25px;
}

.contact-left form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.contact-left input,
.contact-left textarea {
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  transition: border 0.3s;
}

.contact-left input:focus,
.contact-left textarea:focus {
  border-color: #000;
}

.contact-left textarea {
  min-height: 120px;
  resize: none;
}

.contact-left button {
  padding: 12px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-left button:hover {
  background: #333;
}

/* RIGHT SIDE IMAGE */

.contact-right {
  display: none;
}

.contact-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  // Home Section
  .home-section {
    .home-container {
      .open-work {
        padding: 1.5rem 1.75rem;
        top: 4%;

        .open-work-text {
          font-size: 1.5rem;
        }
      }

      .home-heading {
        line-height: 130px;
        font-size: 12rem;
      }

      .reveal-wrapper {
        .reveal-text {
          font-size: 1.35rem;
        }
      }

      .social-links {
        li {
          a {
            font-size: 1.5rem;
          }
        }
      }

      .scroll-down {
        .scroll-text {
          font-size: 1.5rem;
        }
      }
    }
  }

  // About Section
  .about-section {
    .about-container {
      .about-panel:nth-child(1) {
        .profile-info {
          .profile-heading {
            font-size: 7.5rem;
            line-height: 80px;

            span {
              font-size: 5rem;
            }

            .profile-icon {
              .github {
                bottom: -20%;
                left: -10%;
              }

              .code {
                right: 2%;
                top: 10%;
              }
            }
          }
        }

        .profile-para {
          max-width: 600px;
          font-size: 1.5rem;
        }
      }

      .about-panel:last-child {
        .profile-img {
          img {
            height: 100%;
          }

          .circles {
            .circle-one {
              top: 10%;
              left: 10%;
            }

            .circle-two {
              top: 30%;
              left: 35%;
            }
          }
        }

        .profile-status {
          .project {
            left: 8%;
          }

          .award {
            top: 35%;
          }
        }
      }
    }
  }

  // Project Section
  .project-section {
    .project-container {
      .projects {
        grid-template-columns: 1fr 1fr;

        .project {
          .project-data,
          .project-language {
            opacity: 1;
            transform: translateY(10px);
            transition: all 0.4s ease;
          }

          &:hover {
            .project-data,
            .project-language {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  // Home Section
  .home-section {
    .home-container {
      .home-heading {
        line-height: 160px;
        font-size: 15rem;
      }

      .reveal-wrapper {
        .reveal-text {
          font-size: 1.65rem;
          line-height: 22px;
        }
      }
    }
  }

  // About Section
  .about-section {
    .about-container {
      .about-panel:nth-child(1) {
        padding: 0px;
      }
    }
  }

  // Project Section
  .project-section {
    .project-container {
      .projects {
        .project {
          .project-img {
            img {
              height: 350px;
            }
          }

          .project-info {
            .project-data,
            .project-language {
              opacity: 0;
              transform: translateY(10px);
              transition: all 0.4s ease;
            }
          }

          &:hover {
            .project-data,
            .project-language {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }

  // Contact Section
  @media (min-width: 1024px) {
    .contact-right {
      display: block;
      flex: 1;
    }

    // About
    .about-section {
      .about-container {
        .about-panel:last-child {
          .profile-img {
            .circles {
              .circle-one {
                top: 7%;
                left: 25%;
                width: 400px;
                height: 400px;
              }

              .circle-two {
                top: 40%;
                left: 45%;
                width: 400px;
                height: 400px;
              }
            }
          }
        }
      }
    }
  }
}
