.loading {
  position: fixed;
  inset: 0;
  z-index: 999;
  overflow: hidden;
  height: 130%;

  .loader-svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  /* ---------------- STICKERS ---------------- */
  .sticker {
    position: absolute;
    opacity: 0.75;
    z-index: 4;
    pointer-events: none;

    img {
      max-width: 52px;
      min-width: 52px;
      max-height: 52px;
      min-height: 52px;
    }
  }

  .sun, .year {
    img {
      max-width: 204px;
      min-width: 204px;
      max-height: 204px;
      min-height: 204px;
    }
  }

  .elephant {
    img {
      max-width: 150px;
      min-width: 150px;
      max-height: 150px;
      min-height: 150px;
    }
  }

  .evil-eye, .flower {
    img {
      max-width: 102px;
      min-width: 102px;
      max-height: 102px;
      min-height: 102px;
    }
  }

  .sun {
    top: 2%;
    right: 10%;
    transform: rotate(-10deg);
  }

  .elephant {
    bottom: 30%;
    left: 8%;
    transform: rotate(-20deg);
  }

  .evil-eye {
    top: 20%;
    left: 15%;
    transform: translateY(-50%);
  }

  .flower {
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
  }

  .year {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
  }

  .person {
    bottom: 30%;
    right: 40%;
    transform: rotate(-10deg);
  }

  /* ---------------- TEXT ---------------- */
  .text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 5;

    .welcome-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;

      h2 {
        color: #F2F2F2;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 0.05em;
        white-space: nowrap;
      }
    }
  }
}
