@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: auto;
  width: 100%;
  background: #f2f2f2;
  color: #1a1a1a;
  overflow-x: hidden;
  font-family: "Instrument Sans", sans-serif;
}
